@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body, h1, h2, h3, h4, h5, h6, *, p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

html, body {
  background: #2a6caa;
  background: linear-gradient(#4e9feb, #26629b, #13304d);
  height: 100%;
  overflow: auto;
}

/* Header CSS */
header {
  color: #FFF;
  padding: 20px 10px;
  border-bottom: 2px solid #3d84c7;
}

.header-creator {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.header-creator p {
  padding: 5px 0;
  font-size: 18px;
  text-align: right;
}


/* Main Content CSS */

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.main-weather-content-wrapper {
  width: 100%;
  padding: 15px;
  color: #FFF;
}

.pre-load-content {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
}

.load-weather-text {
  color: #FFF;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 400;
}

.input-field {
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 240px;
  padding: 10px 5px;
  border: 0;
}

.disable {
  pointer-events: none;
  opacity: 0.6;
}

.load-weather-button {
  color: #FFF;
  min-width: 240px;
  background: transparent;
  border: 2px solid #FFF;
  border-radius: 4px;
  font-size: 22px;
  padding: 10px 25px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.load-weather-button:hover {
  background: #10263a;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.error-text {
  text-align: center;
  font-size: 18px;
  color: #b61c1c;
  background: #10263a;
  padding: 10px 10px;
}

.weather-details-wrapper p {
  font-size: 18px;
  margin-bottom: 15px;
}

.weather-for {
  font-size: 36px;
  margin-bottom: 20px;
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
}


.daily-weather-wrapper {
  width: 100%;
  max-width: 900px;
  padding: 10px 5px;
  margin: 30px 0 35px 0;
}

.daily-weather-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.daily-weather-list .each-day {
  border: 2px solid #FFF;
  padding: 10px;
  margin: 10px;
  width: 130px;
  border-radius: 4px;
}

.daily-day-text {
  font-size: 20px;
}


.new-location-wrapper {
  max-width: 400px;
  margin: 20px auto 45px auto;
  padding: 10px;
  text-align: center;
}

.close-btn {
  color: #FFF;
  font-size: 30px;
  cursor: pointer;
}


/* Footer & Misc CSS */

footer {
  width: 100%;
  padding: 8px 10px 8px 10px;
  color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 47, 71, 1);
}

footer p {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

footer .copyright-text {
  font-size: 12px;
}


.hidden {
  display: none;
}